#map {
    height: 100%;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    padding: 0 !important;
}

#map {
    margin-top: 40px;
    width: 440px;
}

#listing {
    position: absolute;
    width: 200px;
    height: 470px;
    overflow: auto;
    left: 442px;
    top: 0px;
    cursor: pointer;
    overflow-x: hidden;
}

#locationField {
    -ms-flex: 1 1 190px;
    flex: 1 1 190px;
    margin: 0 8px;
}

#controls {
    -ms-flex: 1 1 140px;
    flex: 1 1 140px;
}

#autocomplete {
    width: 100%;
}

